.ball {
  fill: gray;
}

.ball-red {
  fill: #d40000;
}

.ball-green {
  fill: #4a0;
}

.ball-blue {
  fill: #2a7fff;
}

.ball-yellow {
  fill: #fc0;
}

.ball-glow {
  fill: white;
  opacity: 0.2;
}

.marble {
  transition: 0.1s linear;
}

.marble-active {
  transform: scale(0.8);
  transform-origin: 24px 24px;
  filter: brightness(75%);
}
